.block1 {
    display: block;

    width: 300px;
    padding: 40px;
    border: solid 1px #808080;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-gap: 10px;
}

h2 {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}